# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!.prettierrc
!README.md
!CHANGELOG.md
!.eslintrc.cjs
!postcss.config.js

mongodb+srv://prashantvadhvana_db_user:iBCZW1m1LWi7bXR6@cluster0.xxkca2v.mongodb.net/